<!DOCTYPE html>
<html>
<head>
    <title>NutriTrack Dashboard</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>Personal Nutrition & Daily Protein Tracker</h1>
</header>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/add-meal">Add Meal</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/summary">Summary</a>
</div>

<div class="container">

    <div class="card">
        <h2>Welcome to NutriTrack</h2>

        <p>
            Track your daily meals, calories and protein intake and nutrition goals.
        </p>

        <h3>Features</h3>

        <ul>
            <li>Add meals</li>
            <li>Track protein intake</li>
            <li>View dashboard</li>
            <li>See daily summary</li>
        </ul>

    </div>

</div>

</body>
</html>